<div class="spinner" ng-if="showSpinner">
    <span us-spinner="" spinner-on="showSpinner"></span>
    <div class="spinner-backdrop"></div>
</div>
<div bn-profile></div>
<div class="flyerstore">
    <div class="flyers">
        <div class="row">
            <div class="table-responsive col-md-8 col-md-offset-2">
                <h2 style="margin-bottom: 20px;">
                    Logs
                    <button type="button" class="btn btn-primary" ng-disabled="!context.type" ng-click="changeType(false)">Both</button>
                    <button type="button" class="btn btn-danger" ng-disabled="context.type === 'error'" ng-click="changeType('error')">Error</button>
                    <button type="button" class="btn btn-info" ng-disabled="context.type === 'info'" ng-click="changeType('info')">Info</button>
                </h2>
                <p ng-if="logs.length === 0">Ingen logger å vise.</p>
                <table ng-if="logs.length > 0" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Endpoint</th>
                            <th>Melding</th>
                            <th class="text-center">Status</th>
                            <th>Dato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="log in logs" ng-class="{'danger': log.state === 'error'}">
                            <td>{{ log.logid }}</td>
                            <td>{{ log.loggedfrom }}</td>
                            <td>{{ log.message }}</td>
                            <td class="text-center">{{ log.state }}</td>
                            <td>{{ log.createddate | amDateFormat:'Do MMMM YYYY, H:mm:ss' }}</td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pager next-text="Neste side" previous-text="Forrige side" total-items="context.totalItems" ng-model="context.page"></ul>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<div bn-footer></div>
