<div class="bn-front-filter-wrapper">
    <div class="bn-front-filter">
        <span ng-class="{'active': show}" class="header-icon filter-icon" ng-click="toggleFilter()">
            <i class="fa fa-filter"></i>
        </span>
    </div>
    <div class="bn-front-filter-container" ng-class="{'active': show}">
        <ul>
            <li ng-click="toggleFilterDropdown('university')">Universitet <i class="fa fa-fw fa-caret-down"></i>
                <ul ng-show="context['university'].active" class="bn-filter-dropdown">
                    <li ng-click="setSearch('university', university.universityid)" ng-repeat="university in context.university.data">{{ university.universityname }}</li>
                </ul>
            </li>

            <li ng-click="toggleFilterDropdown('campus')">Campus <i class="fa fa-fw fa-caret-down"></i>
                <ul ng-show="context['campus'].active" class="bn-filter-dropdown">
                    <li ng-click="setSearch('campus', campus.campusid)" ng-repeat="campus in context.campus.data">{{ campus.campusname }}</li>
                </ul>
            </li>

            <li ng-click="toggleFilterDropdown('course')">Linje <i class="fa fa-fw fa-caret-down"></i>
                <ul ng-show="context['course'].active" class="bn-filter-dropdown">
                    <li ng-click="setSearch('course', course.courseid)" ng-repeat="course in context.course.data">{{ course.coursename }}</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
