<div>
    <div class="newBook-button">
        <button type="button" ng-click="toggleVisible()" class="btn btn-round btn-primary btn-lg">
            <i class="fa" ng-class="{'fa-plus': !visible, 'fa-times': visible}"></i> Selg
        </button>
    </div>
    <div class="newBook-editor fade-view" ng-class="{'editor-visible': visible}">
        <!-- <p class="btn-close" ng-click="toggleVisible()">&times;</p> -->
        <h3><i class="fa fa-book fa-fw"></i> Selg en bok</h3>
        <form name="newBookForm" class="newBook-form">
            <div class="form-group">
                <label for="booktitle">Tittel</label>
                <input name="title" type="text" id="booktitle" ng-model="book.bookName" class="form-control bn-input" required autofocus="">
            </div>
            <div class="form-group">
                <label for="bookauthor">Forfatter</label>
                <input name="author" type="text" id="bookauthor" ng-model="book.author" class="form-control bn-input" required>
            </div>
            <div class="form-group">
                <label for="bookprice">Pris (kr)</label>
                <input name="price" type="number" id="bookprice" ng-change="calculateCustomerPrice()" ng-model="book.price" class="form-control bn-input" required>
            </div>
            <div class="form-group">
                <label for="customer_pays">Kunde betaler (+ 10%)</label>
                <input name="customer_pays" type="number" id="customer_pays" ng-value="priceCalculated" disabled class="form-control bn-input">
            </div>
            <div class="form-group">
                <label for="sellerarea">Område</label>
                <input type="text" id="sellerarea" value="Høgskolen i Sørøst-Norge" disabled class="form-control bn-input">
            </div>

            <input type="submit" class="btn btn-primary" value="Legg ut" ng-click="addBook()">
        </form>
    </div>
</div>
