<div class="main-navigation" ng-class="{'show': showNav}">
    <span ng-class="{'active': showNav}" class="header-icon hamburger" ng-click="showNav = !showNav">
        <i class="fa fa-bars"></i>
    </span>
    <ul>
        <li>
            <a href="">
                <i class="fa fa-address-book-o"></i> Test
            </a>
        </li>
        <li ng-if="!isAuthenticated">
            <a href="#!/login">
                <i class="fa fa-user"></i> Logg inn
            </a>
        </li>
    </ul>
</div>
