@media all and (max-width: 991px) {
    .flyerstore .header {
        margin-left: 0;
    }
    .flyerstore .flyer-content {
        margin-left: 0;
    }

    .single-flyer .header .flyer-interest {
        display: block;
        float: none!important;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .flyer-aditems {
        border-left: none;
        box-shadow: none;
    }
}

@media all and (max-width: 375px) {
    .site-header .site-title img {
        height: 20px;
        margin-right: -5px;
    }
    .site-header .site-title a {
        font-size: 28px;
    }
}
