@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-size: 14px;
    line-height: 1em;
    background-color: #FAFAFA;
    overflow-y: scroll;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    background: url('../images/crisp_paper_ruffles.png') repeat;
    color: #19191F;
}

.ng-hide {
    display: none;
}

.site-header {
    z-index: 10;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #96124f;
    padding-bottom: 10px;
    box-shadow: 0px 1px 1px 0px #e2e2e2;
}
.site-header .site-title {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    color: #FAFAFA;
    font-size: 46px;
    font-weight: 400;
    display: inline-block;
    padding-bottom: 5px;
    font-weight: 300;
}
.site-header .site-title a {
    color: #FAFAFA;
    text-decoration: none;
}
.site-header .site-title a:hover {
    color: #FAFAFA;
    text-decoration: none;
}
.site-header .site-title a:active {
    color: #FAFAFA;
    text-decoration: none;
}
.site-header .site-title img {
    height: 35px;
    vertical-align: baseline;
    margin-right: -9px;
}
.site-header .site-title .fat {
    font-weight: 600;
    margin-left: 2px;
}


.main-navigation {
    border-top: 1px solid #820d43;
    top: 100px;
    bottom: 0;
    left: -200px;
    position: absolute;
    width: 200px;
    height: 100%;
    background: #96124f;
    z-index: 11;
    -webkit-transition: left .4s ease;
    transition: left .4s ease;
}
.main-navigation.show {
    left: 0;
}
.main-navigation .hamburger {
    position: fixed;
    top: 0;
    left: 0;
    padding: 50px 30px 15px 15px;
}
.main-navigation .hamburger i {
    font-size: 35px;
    color: #FAFAFA;
}
.main-navigation ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
}
.main-navigation ul li {
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #820d43;
    color: #fff;
    font-size: 24px;
    text-align: left;
}
.main-navigation ul li:hover {
    background: rgba(0,0,0,0.1);
}
.main-navigation ul li a {
    padding: 20px;
    color: #FAFAFA;
    display: block;
}
.main-navigation ul li a:hover,
.main-navigation ul li a:active,
.main-navigation ul li a:focus {
    text-decoration: none;
}
.main-navigation ul li a:focus {
    background: rgba(0,0,0,0.1);
}

.book-subtitle {
    color: #000;
    font-weight: lighter;
    font-style: italic;
}

.site-footer {
    z-index: 12;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0 20px 20px;
}
.site-footer .copyright {
    display: inline-block;
    margin: 0;
}
.site-footer .site-nav {
    list-style: none;
    display: inline-block;
    margin: 0;
}
.site-footer .site-nav li {
    list-style: none;
    display: inline-block;
}
.site-footer .site-nav li a {
    cursor: pointer;
    padding: 0 10px;
}

.login-register-component {
    margin: 140px auto 60px auto;
}

.login-register-component > div {
    background: #fafafa;
    padding: 0;
}

.login-register-component a.nav-link {
    font-size: 20px;
}

.nav-item.active {
    background: #96124f;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:active {
    color: #fafafa;
    -webkit-box-shadow: inset 0 -2px 0 #96124f;
    box-shadow: inset 0 -2px 0 #96124f;
}
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus:hover {
    color: #fafafa;
}
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover,
.nav-tabs>li>a:active {
    color: #96124f;
    -webkit-box-shadow: inset 0 -2px 0 #96124f;
    box-shadow: inset 0 -2px 0 #96124f;
}

.login-component, .register-component {
    margin: 20px auto 0 auto;
}
.login-component .social, .register-component .social {
    text-align: center;
}
.login-component .social button, .register-component .social button {
    color: #3b5998;
    font-size: 26px;
    margin-bottom: 20px;
}
.login-component .social p, .register-component .social p {
    margin-bottom: 20px;
    font-size: 20px;
}
.login-component .login-form,
.register-component .register-form {
    background: #fff;
    padding: 20px;
}
.login-component .login-form p,
.register-component .register-form p {
    margin-top: 30px;
    margin-bottom: 5px;
}
.login-component .login-form input[type=text],
.register-component .register-form input[type=text] {
    margin: 0;
}

.books {
    margin-top: 140px;
    margin-bottom: 70px;
}
.books .book {
    margin: 0;
    padding: 10px 20px;
    display: inline-block;
    background: #fbfbfb;
    border: 1px solid #e2e2e2;
    min-height: 155px;
}
.books .book h3,
.books .book p {
    margin: 10px 0;
}
.books .book .book-info {
    border-right: 1px solid #e2e2e2;
}

.newBook-button {
    position: fixed;
    top: 80px;
    left: 10px;
    z-index: 11;
}
.newBook-button button {
    line-height: 1em;
}
.newBook-editor {
    position: absolute;
    opacity: 0;
    z-index: 10;
    top: -583px;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.newBook-editor.editor-visible {
    top: 129px;
    opacity: 1;
    margin-bottom: 54px;
}
.newBook-editor .newBook-form {
    padding: 20px;
    background: #fff;
}
.newBook-editor h3 {
    margin: 0;
    padding: 20px 10px;
    border-bottom: 1px solid #e1e1e2;
}

.btn-round.btn-lg {
    padding: 10px 12px;
    outline: none;
}

.btn-close {
    text-align: right;
    font-weight: bolder;
    font-size: 20px;
    margin: 0;
    padding: 10px;
}
.btn-close:hover {
    cursor: pointer;
}

.bn-input {
    border-radius: 0;
    box-shadow: none;
    padding: 10px 0;
}

.fade {
    position: absolute;
    top: 129px;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    margin-bottom: 56px;
}
.fade-view {
    z-index: 1;
}
.fade.ng-leave, .fade.ng-enter
.fade-view.ng-leave, .fade-view.ng-enter {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.fade.ng-leave,
.fade-view.ng-leave {
    opacity: 1;
}
.fade.ng-enter,
.fade-view.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active,
.fade-view.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave-active,
.fade-view.ng-leave-active {
    opacity: 0;
}

.register-form input.ng-invalid.ng-touched {
    -webkit-box-shadow: inset 0 -1px 0 #FA787E;
    box-shadow: inset 0 -1px 0 #FA787E;
}

.register-form input.ng-valid.ng-touched {
    -webkit-box-shadow: inset 0 -1px 0 #78FA89;
    box-shadow: inset 0 -1px 0 #78FA89;
}

.superficially-hidden {
    opacity: 0;
    height: 0;
    max-height: 0;
    margin: 0!important;
}
