@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-size: 14px;
    background-color: #FAFAFA;
    overflow-y: scroll;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    /* background: url('../images/crisp_paper_ruffles.png') repeat; */
    color: #19191F;
}

p {
    line-height: 1.5em;
}

.ng-hide {
    display: none;
}

.site-header {
    z-index: 11;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #0075a1;
}
.site-header .site-title {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    color: #FAFAFA;
    font-size: 46px;
    font-weight: 400;
    display: inline-block;
    font-weight: 300;
    margin: 25px 0;
    transition: 0.3s linear all;
}
.site-header .site-title.small {
    color: #FAFAFA;
    font-size: 26px;
    font-weight: 400;
    display: inline-block;
    font-weight: 300;
    margin: 25px 0;
    transition: 0.3s linear all;
}

.site-header .site-title a {
    color: #FAFAFA;
    text-decoration: none;
}
.site-header .site-title a:hover {
    color: #FAFAFA;
    text-decoration: none;
}
.site-header .site-title a:active {
    color: #FAFAFA;
    text-decoration: none;
}
.site-header .site-title img {
    height: 35px;
    vertical-align: baseline;
    margin-right: -8px;
    transition: 0.3s linear all;
}
.site-header .site-title.small img {
    height: 20px;
}

.site-header .site-title .fat {
    font-weight: 600;
    margin-left: 2px;
}

.view {
    margin-top: 110px;
}

.profile {
    z-index: 11;
    position: fixed;
}
.profile .user {
    top: 0;
    right: 0;
    padding: 50px 20px 12px 20px;
    z-index: 11;
}
.profile-container {
    position: absolute;
    top: -350px;
    right: 0;
    width: 200px;
    padding: 20px;
    background-color: #036185;
    border-radius: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 10;
}
.profile-container.active {
    top: 100px;
}
/*.profile .profile-container-arrow {
    position: fixed;
    top: 105px;
    right: 18px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #036185;
}*/

.bn-front-filter {
    z-index: 11;
    position: fixed;
}
.bn-front-filter .filter-icon {
    top: 0;
    left: 0;
    padding: 50px 20px 12px 20px;
    z-index: 11;
}
.bn-front-filter-container {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 51px;
    background-color: #036185;
    z-index: 9;
    font-size: 16px;

    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.bn-front-filter-container.active {
    top: 100px;
}
.bn-front-filter-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.bn-front-filter-container li {
    display: inline-block;
    padding: 10px;
    color: #fafafa;
}
.bn-front-filter-container li:hover {
    cursor: pointer;
}
.bn-front-filter-container .bn-filter-dropdown {
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
    padding: 0;
    min-width: 100px;
    background: #036185;
}
.bn-front-filter-container .bn-filter-dropdown li {
    display: block;
}

.main-navigation {
    border-top: 1px solid #820d43;
    top: 100px;
    bottom: 0;
    left: -300px;
    position: fixed;
    width: 300px;
    height: 100%;
    background: #96124f;
    z-index: 11;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
}
.main-navigation.show {
    left: 0;
}
.main-navigation .hamburger {
    top: 0;
    left: 0;
    padding: 50px 20px 15px 20px;
}
.header-icon {
    position: fixed;
}
.header-icon.active {
    background: #036185;
}
.header-icon:hover {
    cursor: pointer;
}
.header-icon i {
    font-size: 35px;
    color: #FAFAFA;
}
.main-navigation ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
}
.main-navigation ul li {
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #820d43;
    color: #fff;
    font-size: 24px;
    text-align: left;
}
.main-navigation ul li:hover {
    background: rgba(0,0,0,0.1);
}
.main-navigation ul li a {
    padding: 20px;
    color: #FAFAFA;
    display: block;
}
.main-navigation ul li a:hover,
.main-navigation ul li a:active,
.main-navigation ul li a:focus {
    text-decoration: none;
}
.main-navigation ul li a:focus {
    background: rgba(0,0,0,0.1);
}
.main-navigation ul li a i {
    margin-right: 20px;
}

.site-footer {
    z-index: 7;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px 0 20px 45px;
}
.site-footer .copyright {
    display: inline-block;
    margin: 0;
}
.site-footer .site-nav {
    list-style: none;
    display: inline-block;
    margin: 0;
}
.site-footer .site-nav li {
    list-style: none;
    display: inline-block;
}
.site-footer .site-nav li a {
    cursor: pointer;
    padding: 0 10px;
}

.login-register-component {
    margin: 100px auto 60px auto;
}

.login-register-component > div {
    padding: 0;
}

.login-register-component a.nav-link {
    font-size: 20px;
}

.nav-item.active {
    background: #0075a1;
}
.nav-tabs>li>a {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:active {
    color: #fafafa;
    -webkit-box-shadow: inset 0 -2px 0 #055f81;
    box-shadow: inset 0 -2px 0 #055f81;
}
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus:hover {
    color: #fafafa;
}
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover,
.nav-tabs>li>a:active {
    color: #0075a1;
    -webkit-box-shadow: inset 0 -2px 0 #0075a1;
    box-shadow: inset 0 -2px 0 #0075a1;
}

.login-component, .register-component {
    margin: 20px auto 0 auto;
}
.login-component .social, .register-component .social {
    text-align: center;
}
.login-component .social button, .register-component .social button {
    color: #3b5998;
    font-size: 26px;
    margin-bottom: 20px;
}
.login-component .social p, .register-component .social p {
    margin-bottom: 20px;
    font-size: 20px;
}
.login-component .login-form,
.register-component .register-form {
    background: #fff;
    padding: 20px;
}
.login-component .login-form p,
.register-component .register-form p {
    margin-top: 30px;
    margin-bottom: 5px;
}
.login-component .login-form input[type=text],
.register-component .register-form input[type=text] {
    margin: 0;
}

.total-price {
    margin-top: 20px;
}
.description {
    margin-top: 20px;
}
.flyer-aditem {
    margin-top: 20px;
}
.flyer-aditem h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.flyer-aditem p {
    margin-top: 5px;
    margin-bottom: 0;
}
.flyer-salesman {
    border-left: 1px solid #e3e9ea;
}


.flyerstore {
    margin-top: 115px;
    margin-bottom: 70px;
}

.flyerstore p {
    margin: 10px 0;
    font-size: 18px;
}
.flyerstore a {
    color: #0075a1;
    text-decoration: underline;
}
.flyerstore a.btn {
    color: #fff;
    text-decoration: none;
}

.flyerstore h2 {
    margin-bottom: 23px;
    border-bottom: 1px solid #fafafa;
    display: inline-block;
}
.flyerstore h2.latest-flyers {
    margin-left: 30px;
    margin-bottom: 25px;
}
.flyerstore .cancel-filter {
    font-size: 18px;
}
.flyerstore .cancel-filter:hover {
    cursor: pointer;
}

.flyerstore .header {
    margin-left: 30px;
}
.flyerstore .header p {
    margin-top: 5px;
    font-size: 16px;
}
.flyer-interest {
    margin-top: 20px;
    padding-left: 0;
}
.flyer-interest p {
    margin-top: 0;
}
.flyerstore .flyer-content {
    /*margin-left: 30px;*/
}

.single-flyer .flyer-content {
    margin-left: 30px;
}

.flyer-aditems {
    border-left: 1px solid #ececec;
    box-shadow: -2px 0px 0px #ffffff;
    padding-left: 0;
}

.btn-new-ad {
    margin-left: 20px;
    margin-top: -15px;
}
.flyers .no-flyers {
    margin-left: 30px;
}
.flyers .flyer-container {
    z-index: 8;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 15px;
}
.flyers .flyer-container .swiper-container {
    background: rgb(250, 250, 250);
}
.flyers .flyer-container header {
    min-height: 259px;
    height: 259px;
}
.flyers .flyer-container .flyer-content {
    background: rgba(224, 224, 224, 0.99);
    color: #3c3c3c;
    border-top: 4px solid #0075a1;
    padding: 5px 15px 15px 15px;
    box-shadow: 0 0 2px #aaaaaa;
}
.flyers .flyer-container .flyer-content:hover {
    cursor: pointer;
}
.flyers .flyer-container .flyer-content .item-price {
    padding: 10px;
    background: #0075a1;
    color: #fafafa;
}
.flyers .flyer-container h3 {
    color: #3c3c3c;
    margin: 10px 0;
}
.flyers .flyer-container p {
    margin: 10px 0;
    font-size: 16px;
}

.flyers .flyer-container .flyer-date .text-muted {
    color: #fff;
}

.table-hover .active-flyer-highlight:hover {
    background-color: rgba(215, 237, 245, 1);
}
.active-flyer-highlight {
    background-color: rgba(215, 237, 245, .7);
}

.add-flyer {
    margin-top: 110px;
    margin-bottom: 10px;
}

.add-flyer h3 {
    margin: 10px 0;
}

.flyer-items {
    margin-top: 15px;
    margin-bottom: 10px;
    background: #fff;
    padding: 20px 15px 10px 15px;
}
.flyer-items form {
    margin-top: 20px;
}

.flyer-items .image-preview i:hover {
    cursor: pointer;
}
.flyer-items .image-preview img {
    max-width: 240px;
    height: auto;
}

.profile-page .profile-image {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 0 auto;
    background: #0075a1;
}
.profile-page .profile-image-container i {
    font-size: 94px;
    color: #fafafa;
}
.profile-page p {
    margin: 15px 0 0 0;
}
.profile-page button {
    margin-top: 15px;
}

/* INTEREST */
.interest-container {
    margin-bottom: 15px;
}
.interest-container h3 {
    margin: 0 0 15px 0;
    padding: 15px 15px;
    background: #0075a1;
}
.interest-container h3,
.interest-container p {
    color: #fff;
}

.chat-container {
    background: #fff;
    padding: 20px;
    border: 2px solid #eee;
    margin-bottom: 10px;
}
.chat-container:hover {
    background: #fafafa;
    cursor: pointer;
}

.chatmessage-container {
    display: block;
}
.chatmessage {
    background-color: #fff;
    max-width: 300px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.chat-input {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
}
.chat-input .form-control {
    background: #fff;
    padding: 0 10px;
}

.line {
    border-bottom: 3px solid #0075a1;
    margin: 15px 0;
}

.btn {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.btn-round.btn-lg {
    padding: 10px 12px;
    outline: none;
}

.btn-close {
    text-align: right;
    font-weight: bolder;
    font-size: 20px;
    margin: 0;
    padding: 10px;
}
.btn-close:hover {
    cursor: pointer;
}

.bn-input {
    border-radius: 0;
    box-shadow: none;
    padding: 10px 0;
}

.fade {
    position: absolute;
    top: 129px;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    margin-bottom: 56px;
}
.fade-view {
    z-index: 1;
}
.fade.ng-leave, .fade.ng-enter
.fade-view.ng-leave, .fade-view.ng-enter,
.fade-box.ng-leave, .fade-box.ng-enter {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.fade.ng-leave,
.fade-view.ng-leave,
.fade-box.ng-leave {
    opacity: 1;
}
.fade.ng-enter,
.fade-view.ng-enter,
.fade-box.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active,
.fade-view.ng-enter-active,
.fade-box.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave-active,
.fade-view.ng-leave-active,
.fade-box.ng-leave-active {
    opacity: 0;
}

.register-form input {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.register-form input.ng-invalid.ng-touched:not([type=checkbox]) {
    -webkit-box-shadow: inset 0 -1px 0 #FA787E;
    box-shadow: inset 0 -1px 0 #FA787E;
    padding-left: 10px;
    background: #fff5f5;
}

.register-form input.ng-valid.ng-touched:not([type=checkbox]) {
    -webkit-box-shadow: inset 0 -1px 0 #78FA89;
    box-shadow: inset 0 -1px 0 #78FA89;
    padding-left: 10px;
    background: #f7fff5;
}

.superficially-hidden {
    opacity: 0;
    height: 0;
    max-height: 0;
    margin: 0!important;
}

.bn-item-selector {
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px;
}

.bn-item-selector-select-all {
    margin-bottom: 20px;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%2396124f'%2F><%2Fsvg>");
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%2396124f'%2F><%2Fsvg>");
}

.text-boknaden {
    color: #0075a1;
}

.spinner-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.6);
    z-index: 20;
}
/*

*/
