<div class="row fade-view login-register-component">
    <div class="col-md-6 col-md-offset-3">
        <uib-tabset active="activeTab" justified="true">
            <uib-tab index="0" heading="Logg inn">
                <div class="login-component">
                    <!-- <div class="social">
                        <button class="btn btn-default">
                            <i class="fa fa-fw fa-facebook-square"></i>
                        </button>
                        <p>eller</p>
                    </div> -->

                    <form class="login-form">
                        <div class="form-group">
                            <label for="emailUsername_lgn">E-post/brukernavn</label>
                            <input type="text" id="emailUsername_lgn" ng-model="user.username" class="form-control bn-input" required autofocus="">
                        </div>

                        <div class="form-group">
                            <label for="password_lgn">Passord</label>
                            <input type="password" id="password_lgn" ng-model="user.pass" class="form-control bn-input" required>
                        </div>
                        <div class="">
                            <input type="submit" class="btn btn-primary" value="Logg inn" ng-click="doLogin()">
                            <input type="button" class="btn btn-link pull-right" value="Glemt passord?" ng-click="go('/forgotpassword')">
                        </div>
                    </form>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Ny bruker">
                <div class="register-component">
                    <!-- <div class="social">
                        <button class="btn btn-default">
                            <i class="fa fa-fw fa-facebook-square"></i>
                        </button>
                        <p>eller</p>
                    </div> -->

                    <form class="register-form" name="register" ng-changed="console.log(register.$error)">
                        <div class="form-group">
                            <label for="emailUsername_reg">Brukernavn</label>
                            <input type="text" id="emailUsername_reg" ng-model="user.username" class="form-control bn-input" required autofocus="">
                        </div>
                        <div class="form-group">
                            <label for="courseSelect_reg">Linje</label>
                            <select ng-hide="loading"
                                    id="courseSelect_reg"
                                    class="form-control"
                                    required=""
                                    ng-model="user.course"
                                    ng-change="logChanged(user.courseid)"
                                    ng-options="course.coursename for course in courses track by course.courseid">
                                <option value="" disabled="">Velg en...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="emailUsername_reg">E-post</label>
                            <input type="email" id="emailUsername_reg" ng-model="user.email" class="form-control bn-input" required autofocus="">
                        </div>
                        <div class="form-group">
                            <label for="firstname_reg">Fornavn</label>
                            <input type="text" id="firstname_reg" ng-model="user.firstname" class="form-control bn-input" required>
                        </div>
                        <div class="form-group">
                            <label for="lastname_reg">Etternavn</label>
                            <input type="text" id="lastname_reg" ng-model="user.lastname" class="form-control bn-input" required>
                        </div>
                        <div class="form-group">
                            <label for="number_reg">Mobilnummer</label>
                            <input type="number" id="number_reg" ng-model="user.phone" class="form-control bn-input" required>
                        </div>
                        <div class="form-group">
                            <label for="password1_reg">Passord</label>
                            <input type="password" id="password1_reg" ng-model="user.pass" class="form-control bn-input" required>
                        </div>
                        <div class="form-group">
                            <label for="password2_reg">Passord igjen</label>
                            <input type="password" id="group" ng-model="user.pass2" class="form-control bn-input" required password-verify="user.pass">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="user.terms" required> Jeg har lest og godtar <a>vilkårene</a>
                            </label>
                        </div>
                        <input type="submit" ng-disabled="register.$invalid" class="btn btn-primary" value="Registrer" ng-click="doRegister(user)">
                    </form>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
