<div class="spinner" ng-if="showSpinner">
    <span us-spinner="" spinner-on="showSpinner"></span>
    <div class="spinner-backdrop"></div>
</div>
<div bn-profile></div>
<div class="flyerstore">
    <div class="row single-flyer">
        <div class="col-md-7">
            <div class="header">
                <h2>
                    {{ flyer.adname }}
                </h2>
            </div>
            <div class="flyer-content">
                <p>
                    Opprettet av <a ng-href="{{ '/user/' + flyer.user.username }}" >{{ flyer.user.username }}</a> i <a ng-href="{{ '/store?course=' + flyer.course.courseid }}">{{ flyer.course.coursename }}</a> på <a ng-href="{{ '/store?university='+flyer.course.campus.university.universityid }}">{{ flyer.course.campus.university.universityname }}</a> for <span am-time-ago="flyer.createddate"></span>.
                </p>
                <h4 class="total-price"><span class="text-boknaden">{{ calculateTotalPrice(flyer.aditems) }}</span></h4>
                <p class="description" ng-if="flyer.text">{{ flyer.text }}</p>
                <p class="description" ng-if="!flyer.text"><em>Ingen beskrivelse.</em></p>
            </div>
        </div>
        <div class="col-md-5 flyer-salesman">
            <div class="salesman-head">
                <h4>Selger</h4>
            </div>
            <div class="salesman-body">
                <p>Navn: {{ flyer.user.firstname }} {{ flyer.user.lastname }}</p>
                <p>Campus: <a ng-href="{{ '/store?campus='+flyer.course.campus.campusid }}">{{ flyer.course.campus.campusname }}</a></p>
                <p>E-post:
                    <span ng-if="isAuthenticated">{{ flyer.user.email }}</span>
                    <span ng-if="!isAuthenticated"><a ng-href="{{ '/login?return=/item/' + flyer.adid }}">Logg inn for å se e-post</a></span>
                </p>
                <p>Telefonnummer:
                    <span ng-if="isAuthenticated">{{ flyer.user.phone }}</span>
                    <span ng-if="!isAuthenticated"><a ng-href="{{ '/login?return=/item/' + flyer.adid }}">Logg inn for å se telefonnummer</a></span>
                </p>
            </div>
            <div class="flyer-interest" ng-if="!flyer.isowner">
                <p ng-if="!isAuthenticated"><a ng-href="{{ '/login?return=/item/' + flyer.adid }}" class="btn btn-lg btn-success">Logg inn</a> for å melde interesse</p>
                <p ng-if="isAuthenticated"><button ng-click="checkUserBeforeInterest()" type="button" class="btn btn-lg btn-primary">Meld interesse</button></p>
            </div>
            <div class="flyer-interest" ng-if="flyer.isowner">
                <p ng-if="isAuthenticated"><a ng-href="{{ '/item/mine?active=' + flyer.adid}}">Dette er din annonse.</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="aditem in flyer.aditems" class="flyer-aditem col-md-3 text-center">
            <img width="240px" ng-src="{{aditem.image ? aditem.image.imageurl : (aditem.isbn) ? '/assets/images/placeholder-book.png' : '/assets/images/placeholder-object.png'}}" alt="">
            <p class="text-center"><span class="text-boknaden">{{ (aditem.price < 1) ? 'GRATIS' : aditem.price + ' kr' }}</span></p>
            <h3 class="text-center">{{ aditem.text }}</h3>
            <em class="text-center" ng-if="aditem.isbn">isbn {{ aditem.isbn }}</em>
            <p>{{ aditem.description }}</p>
        </div>
    </div>
</div>
