<div class="spinner" ng-if="showSpinner">
    <span us-spinner="{radius:30, width:8, length: 16, color: '#96124f'}" spinner-on="showSpinner"></span>
    <div class="spinner-backdrop"></div>
</div>
<div bn-profile></div>
<div class="spinner" ng-if="showSpinner">
    <span us-spinner="{radius:30, width:8, length: 16, color: '#96124f'}" spinner-on="showSpinner"></span>
    <div class="spinner-backdrop"></div>
</div>
<div bn-profile></div>
<div class="add-flyer">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="flyer-title">Tittel</label>
                <input type="text" id="flyer-title" class="form-control" ng-model="flyer.adname" placeholder="Tittel på annonse">
            </div>
            <div class="form-group">
                <label for="flyer-title">Annonsebeskrivelse</label>
                <textarea rows="3" type="text" ng-model="flyer.text" id="item-description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="courseSelect_reg">Linje</label>
                <select ng-hide="loading"
                        id="courseSelect_reg"
                        class="form-control"
                        required=""
                        ng-model="flyer.course"
                        ng-options="course.coursename for course in courses track by course.courseid">
                    <option value="" disabled="">Velg en...</option>
                </select>
            </div>

            <div class="flyer-items">
                <button class="btn btn-primary btn-link" ng-click="addAdItemToFlyer()"><i class="fa fa-fw fa-plus"></i> Legg til</button>
                <uib-tabset active="activeFlyerItem" type="pills">
                    <uib-tab index="$index" heading="{{ item.text || 'Ingen tittel' }}" ng-repeat="item in flyer.aditems track by $index">
                        <button ng-disabled="flyer.aditems.length < 2" ng-click="removeItem($index)" type="button" class="btn btn-danger btn-sm pull-right"><i class="fa fa-fw fa-remove"></i> Fjern</button>
                        <div class="clearfix"></div>
                        <form class="" name="item-{{$index}}">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="item.isBook" required> Bok?
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="item-title">Tittel</label>
                                <input type="text" id="item-title" ng-model="item.text" class="form-control">
                            </div>
                            <div class="form-group" ng-show="item.isBook">
                                <label for="item-isbn">ISBN</label>
                                <input type="number" id="item-isbn" ng-model="item.isbn" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="item-price">Pris (NOK)</label>
                                <input type="number" id="item-price" ng-model="item.price" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="item-description">Nærmere beskrivelse</label>
                                <textarea rows="3" type="text" ng-model="item.description" id="item-description" class="form-control"></textarea>
                            </div>
                        </form>
                    </uib-tab>
                </uib-tabset>
            </div>
            <button type="button" ng-disabled="!isValid()" ng-click="createAd()" class="btn btn-success"><i class="fa fa-fw fa-check"></i> Opprett</button>
        </div>
    </div>
</div>
