<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Om Boknaden</h3>
</div>
<div class="modal-body" id="modal-body">
    <p>Boknaden er en markedsplass for studentmateriell, hovedsakelig skolebøker. Løsningen støtter også kjøp og salg av andre typer studiemateriell.</p>
    <p>Nettsiden og APIet er skrevet i Javascript, ved hjelp av AngularJS 1 og NodeJS.</p>
    <p>Vi har også en mobilapplikasjon som til dags dato kjører på Android gjennom Google Play Store. Applikasjonen er skrevet i Xamarin, og kan derfor kompileres til alle mobile plattformer.</p>
    <p>Informasjon om feil og mangler bes rettes til <a href="mailto:boknaden@gmail.com">boknaden@gmail.com</a>.</p>
    <p>Websiden og APIet er utviklet av <a target="_blank" href="https://www.linkedin.com/in/nictorgersen/">Nichlas Torgersen</a>.</p>
    <p>Mobilapplikasjonen er utviklet i Xamarin av <a href="https://www.linkedin.com/in/eirik-sl%C3%A5ttedalen-580251143/">Eirik Slåttedalen</a>.</p>
</div>
