<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Boknaden</h3>
    <em>- Markedsplass for studentutstyr</em>
</div>
<div class="modal-body" id="modal-body">
    <p>Boknaden er en nettbasert markedsplass for studentutstyr, hovedsakelig skolebøker, men løsningen støtter også kjøp og salg av andre typer studiemateriell.</p>
    <p>Nettsiden og APIet er skrevet i Javascript, ved hjelp av <a href="https://angularjs.org/">AngularJS 1</a> og <a href="https://nodejs.org/">NodeJS</a>.</p>
    <p>Vi har også en mobilapplikasjon som til dags dato kjører på Android gjennom <a href="https://play.google.com/store">Google Play Store</a>. Applikasjonen er skrevet i <a href="https://www.xamarin.com/">Xamarin</a>, og kan derfor enkelt kompileres, uten mye arbeid, til alle mobile plattformer.</p>
    <p>Informasjon om feil og mangler bes rettes til <a href="mailto:boknaden@gmail.com">boknaden@gmail.com</a>.</p>
    <p>Websiden og APIet er utviklet av <a target="_blank" href="https://www.linkedin.com/in/nictorgersen/">Nichlas Torgersen</a>.</p>
    <p>Mobilapplikasjonen er utviklet i Xamarin av <a href="https://www.linkedin.com/in/eirik-sl%C3%A5ttedalen-580251143/">Eirik Slåttedalen</a>.</p>
</div>
